<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchEndpoint</key>
	<string>https://api.pexels.com/v1/search</string>
	<key>curatedEndpoint</key>
	<string>https://api.pexels.com/v1/curated</string>
	<key>apiKey</key>
	<string>FILL_ME</string>
</dict>
</plist>
